$item-button-size: 72px;
$item-price-button-size: calc($item-button-size * 2);
$item-columns: 4;
$item-grid-gap: .5rem;

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.app-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $item-grid-gap;
  width: 100%;
}

.app-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app-grid {
  display: grid;
  gap: $item-grid-gap;
  grid-template-columns: repeat($item-columns, $item-button-size);

  button {
    width: $item-button-size;
    height: $item-button-size;
  }

  &-prices {
    @extend .app-grid;
    grid-template-columns: repeat($item-columns, $item-price-button-size);

    button {
      width: 100%;
    }
  }
}

.app-button {
  width: 100%;
}

.app-icon-button {
  &:hover {
    img {
      filter: drop-shadow(4px 4px 4px black);
      transition: filter 0.25s;
    }
  }
}

.app-prices {
  width: 100%;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
}

.price {
  font-size: 10pt;
  filter: drop-shadow(1px 1px 1px black);

  &-yellow {
    @extend .price;
    color: #FFFF00;
  }

  &-white {
    @extend .price;
    color: white;
  }

  &-green {
    @extend .price;
    color: #00FF80;
  }
}
