@use 'src/styles/styles.scss' as styles;

$margin: 1rem;
$item-button-size: 144px;
$item-grid-gap: .5rem;

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: $margin;
}

.app-col {
  display: flex;
  flex-direction: column;
  gap: $item-grid-gap;
}

.app-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $item-grid-gap;
}

@mixin app-grid($button-size: $item-button-size) {
  display: grid;
  gap: $item-grid-gap;
  grid-template-columns: $button-size;

  @for $i from 2 through 4 {
    @media (min-width: calc($button-size * $i + $item-grid-gap * ($i - 1) + ($margin * 2))) {
      grid-template-columns: repeat($i, $button-size);
    }
  }
}

.app-grid {
  @include app-grid;

  &-wide {
    @include app-grid($item-button-size * 2);
  }
}

.app-icon-button {
  @include styles.button;
  @extend .app-row;
  height: 30px;

  * {
    animation: 0.5s appear;
  }

  &:hover {
    img {
      filter: drop-shadow(4px 4px 4px black);
      transition: filter 0.25s;
    }
  }
}

.icon-wrapper {
  width: 30px;
  height: 30px;
}

.price {
  font-size: 10pt;
  filter: drop-shadow(1px 1px 1px black);

  &-yellow {
    @extend .price;
    color: #FFFF00;
  }

  &-white {
    @extend .price;
    color: white;
  }

  &-green {
    @extend .price;
    color: #00FF80;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
