#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.app-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.app-row {
  display: flex;
  justify-content: space-evenly;
}
