$item-button-size: 72px;
$item-columns: 4;
$item-grid-gap: .5rem;

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.app-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.app-grid {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat($item-columns, $item-button-size);

  button {
    width: $item-button-size;
    height: $item-button-size;
  }
}

.app-button {
  width: calc($item-columns * $item-button-size + ($item-columns - 1) * $item-grid-gap);
}

.app-icon-button {
  &:hover {
    img {
      filter: drop-shadow(4px 4px 4px black);
    }
  }
}
