@use 'src/styles/styles.scss' as styles;

:root {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 24px;
  color-scheme: light dark;
  color: white;
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

button {
  @include styles.button;
}

a {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}
